# игнорируем папки, которые не нужны нам в Гитхабе 
.vscode
src/__pycache__/
test/__pycache__/
# а в этих уже был свой файл .gitignore внутри
# можно было и не дублировать, но пусть будет 
.conda
.pytest_cache
.venv
